/* Footer.css */
.footer {
    width: 100%;
    background-color: #0056b3; /* Blauwe kleur zoals de header */
    padding-top: 20px;
    margin-top: 50px; /* Voegt wat ruimte toe boven de footer */
  }
  
  /* Extra stijl voor de footer */
  .footer h5 {
    font-weight: bold;
  }
  
  .footer ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ffd700; /* Verander kleur bij hover voor interactie */
  }
  
  .footer .contact-info p {
    margin: 5px 0;
  }
  