:root{
  --background: #EDE8DC;
  --main: #C1CFA1;
  --darkmain: #A5B68D;
  --highlight: #E7CCCC;
  --darklight: #e7b0b0;
  --fontlight: #eee;
  --fontdark: #0f0f0f;
}

html{
  font-size: 62.5%;
  font-family: sans-serif;
  color: var(--fontdark);
}

body{
  background: #EDE8DC;
}