:root{
  --background: #EDE8DC;
  --main: #C1CFA1;
  --darkmain: #A5B68D;
  --highlight: #E7CCCC;
  --fontlight: #eee;
  --fontdark: #0f0f0f;
}

html{
  font-size: 62.5%;
  font-family: sans-serif;
  color: var(--fontdark);
}

body{
  background: #EDE8DC;
}

nav {
  gap: 2rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 100px;
  background-color: var(--main); 
  padding: 0 20px; 
}

/* .logo-holder {
  display: flex;
  align-items: center;
  background-color: green; 
  padding: 10px 15px; 
  border-radius: 5px; 
} */

.logo-holder img {
  width: 6rem;

}

.logo-holder .logo {
  font-size: 24px;
  color: white;
}

.list-items {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-items li {
  color: black; 
  cursor: pointer;
}

