/* Navbar.css */
:root{
  --background: #EDE8DC;
  --main: #C1CFA1;
  --darkmain: #A5B68D;
  --highlight: #E7CCCC;
  --fontlight: #eee;
  --fontdark: #0f0f0f;
}



.navbar-nav .nav-link:hover {
    color: #ffc107; 
  }
  

  .navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #ffc107; 
  }
  

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  
  .navbar {
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-dark.bg-primary {
    background-color: var(--main) !important; 
  }
  