/* Footer.css */
.footer {
    width: 100%;
    background: #C1CFA1; 
    padding-top: 20px;
    margin-top: 50px; 
  }
  

  .footer h5 {
    font-weight: bold;
  }
  
  .footer ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #ffd700;
  }
  
  .footer .contact-info p {
    margin: 5px 0;
  }
  

