.overlay {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/IMG_8433.jpeg");
    background-size: cover;
}

/* Style the card */
.card-herosection {
    min-width: 20%;
    height: 40%;
    background: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 4rem;
    border-radius: 10px;
}

.card-herosection h2 {
    font-weight: 600;
     color: var(--fontlight)
}