nav {
  width: 100%;
    gap: 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100px;
    background-color: var(--main); 
    padding: 0 20px; 
}

.logo-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-holder img {
    width: 5rem;
  }
  
  .logo-holder .logo {
    font-size: 2.5rem;
    color: white;
  }

  .h1-title{
    font-size: 2.5rem;
    color: var(--fontlight);
  }
  
  .list-items {
    justify-content: center;
    align-items: center;
    gap: 4rem;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 5rem;
  }
  
  .link {
    text-decoration: none;
    color: var(--fontlight); 
    cursor: pointer;
    font-size: 1.5rem;
    border-bottom: 0.3rem solid transparent;
    font-size: 2rem;
  }

  .link:hover {
    color: var(--highlight2);
    border-bottom: 0.3rem solid var(--highlight2);
  }